on boot
    # Gesture
    chown system system /sys/devices/virtual/touch/tp_dev/gesture_on

on property:sys.boot_completed=1
    # Battery
    chown system system /sys/class/qcom-battery/batt_charge_health_en
    chmod 666 /sys/class/qcom-battery/batt_charge_health_en
    chown system system /sys/class/qcom-battery/batt_charge_accelerate_en
    chmod 666 /sys/class/qcom-battery/batt_charge_accelerate_en
    chown system system /sys/class/qcom-battery/batt_charge_bypass_en
    chmod 666 /sys/class/qcom-battery/batt_charge_bypass_en

#camera property start
on property:vendor.lenovocamera.packagename.zui=*
    setprop vendor.camera.packagename.zui ${vendor.lenovocamera.packagename.zui}

on property:vendor.lenovocamera.packagename.cts=*
    setprop vendor.camera.packagename.cts ${vendor.lenovocamera.packagename.cts}

on property:vendor.lenovocamera.packagename.client=*
    setprop vendor.camera.packagename.client ${vendor.lenovocamera.packagename.client}

on property:vendor.lenovocamera.pandora.enable=*
    setprop vendor.camera.pandora.enable ${vendor.lenovocamera.pandora.enable}

on property:vendor.lenovocamera.pandora.synthesis.targetapp=*
    setprop vendor.camera.pandora.synthesis.targetapp ${vendor.lenovocamera.pandora.synthesis.targetapp}

on property:vendor.lenovocamera.cammotorfeedbacktype=*
    setprop vendor.camera.cammotorfeedbacktype ${vendor.lenovocamera.cammotorfeedbacktype}

on property:vendor.lenovovideo.big.file.enable=*
    setprop vendor.video.big.file.enable ${vendor.lenovovideo.big.file.enable}

on property:vendor.lenovocamera.frontcamera.status=*
    setprop vendor.camera.frontcamera.status ${vendor.lenovocamera.frontcamera.status}

on property:vendor.lenovocamera.device.orientation=*
    setprop vendor.camera.device.orientation ${vendor.lenovocamera.device.orientation}

on property:persist.lenovo.tblenovo.enableThirdAppFB=*
    setprop persist.odm.tblenovo.enableThirdAppFB ${persist.lenovo.tblenovo.enableThirdAppFB}

on property:persist.lenovo.tblenovo.enableThirdAppBokeh=*
    setprop persist.odm.tblenovo.enableThirdAppBokeh ${persist.lenovo.tblenovo.enableThirdAppBokeh}

on property:persist.lenovo.tblenovo.orientation=*
    setprop persist.odm.tblenovo.orientation ${persist.lenovo.tblenovo.orientation}

on property:persist.lenovo.camera.blackMask=*
    setprop persist.vendor.camera.blackMask ${persist.lenovo.camera.blackMask}

on property:persist.lenovo.camera.beauty.level=*
    setprop persist.vendor.camera.beauty.level ${persist.lenovo.camera.beauty.level}

on property:persist.lenovo.camera.blur.level=*
    setprop persist.vendor.camera.blur.level ${persist.lenovo.camera.blur.level}

on property:persist.lenovo.camera.seg.index=*
    setprop persist.vendor.camera.seg.index ${persist.lenovo.camera.seg.index}

on property:persist.lenovo.camera.ois.cal=*
    setprop persist.vendor.camera.ois.cal ${persist.lenovo.camera.ois.cal}

